.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em 5em;
    position: relative;
}
.cabecalho-logo{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.cabecalho-logo__titulo{
    font-weight: 500;
    font-size: 18px;
    color: var(--cinza-medio);
}
.lista-menu{
    align-items: center;
    display: flex;
    width: 60%;
    gap: 2em;
    margin-left: 6em;
}
.lista-menu__link{
    font-weight: 500;
    text-decoration: none;
    color: var(--cinza-claro);
}
.cabecalho-opcoes{
    display: flex;
    justify-content: space-between;
    color: var(--cinza-claro);
    gap: 1em;
}
.cabecalho-opcoes a{
    font-weight: 500;
    text-decoration: none;
    padding: 0.5em 1em;
}
.opcoes__cadastrar{
    color: var(--branco);
    border: 1px solid var(--vinho);
    border-radius: 5px;
    background-color:var(--vinho);
}
.cabecalho-botao{
    display: none;
}

@media screen and (max-width: 1024px) {
    .cabecalho{
        width: auto;
        margin: 1.5em;
        font-size: 14px;
    }
    .cabecalho-opcoes{
        gap: 0;
    }
    .cabecalho-botao ~ .lista-menu{
        display: none;
    }
    .cabecalho-botao:checked ~ .lista-menu{
        display: block;
    }
    .lista-menu{
        width: auto;
        position: absolute;
        top: 100%;
        margin-left: 0;
    }
    .lista-menu__item{
        padding: 0.5em;
        background-color: var(--vinho);
        border: 0.5px solid var(--vinho-escuro);
    }
    .lista-menu__link{
        text-decoration: none;
        color: var(--branco);
    }
}