.container-vagas{
    text-align: center;
    padding: 6em 2em;
}
.container__imagem{
    width: 80%;
    margin: 4em 0;
}
.vagas__titulo{
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 16px;
    background-size: contain;
    background-color: var(--vermeho-claro);
}

@media screen and (max-width: 1024px) {
    .container-vagas{
        padding: 1em;
    }
    .container__imagem{
        margin: 1em 0;
    }
}